<nav>
  <div class="navbar">
    <div class="nav-left">
      <a href="/">Home</a>
    </div>
    <div class="nav-right">
      <a href="/categories">Makes</a>
      <!-- <a href="/items">Models</a> -->
    </div>
  </div>
</nav>
