<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Inventory App</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <h1>Car Inventory App</h1>
    <p>
      Browse the makes and models in our inventory! Feel free to create, read,
      update, or delete any Make or Model you like!
    </p>
  </body>
</html>
